html {
  font-size: 16px;

  @media (max-width: 1100px) {
    font-size: 14px;
  }
}

#cart {
  width: 80vw;
  max-width: 980px;
  margin: 0 auto;
  color: black;

  &.empty {
    .empty {
      display: block;
    }
    .brief,
    .cart {
      display: none;
    }
  }

  .empty {
    display: none;
    min-height: calc(100vh - 47px);
    padding-top: calc(104px + 15vh);

    .empty__para {
      margin-bottom: 30px;
      font-size: 2.4rem;
      font-weight: 500;
      text-align: center;
    }

    .empty__shopBtn {
      display: block;
      width: 280px;
      padding: 5px 0;
      margin: 0 auto;
      background: #0071e3;
      border-radius: 10px;
      font-size: 1rem;
      color: white;
      font-weight: 300;
      text-align: center;
    }
  }

  .brief {
    padding: calc(104px + 50px) 0 50px;

    .brief__price {
      margin-bottom: 10px;
      font-size: 2.4rem;
      font-weight: 500;
      text-align: center;
    }

    .brief__shipping {
      margin-bottom: 30px;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
    }

    .brief__checkoutBtn {
      display: block;
      width: 280px;
      padding: 5px 0;
      margin: 0 auto;
      background: #0071e3;
      border-radius: 10px;
      font-size: 16px;
      color: white;
      font-weight: 300;
      text-align: center;
    }

    @media (max-width: 600px) {
      .brief__price {
        font-size: 2rem;
      }
      .brief__checkoutBtn {
        width: 80%;
      }
    }
  }

  .cart {
    margin-bottom: 100px;

    .cart__list {
      margin-bottom: 50px;

      .cart__item {
        padding: 30px 0;
        border-top: 1px solid #d2d2d7;
        display: grid;
        grid-template-columns: 150px 2fr 1fr;
        grid-gap: 50px;

        &:last-child {
          border-bottom: 1px solid #d2d2d7;
        }

        .cart__item__image {
          display: block;
          height: 240px;
        }

        .cart__item__name {
          font-size: 1.3rem;
          font-weight: 400;
        }

        .cart__item__innerbox {
          display: flex;
          justify-content: space-between;

          .cart__item__quantity {
            width: 50px;
            height: 35px;
            border: none;
            font-size: 1.3rem;
            font-weight: 400;

            &:focus {
              outline-color: #0066cc98;
            }
          }

          .cart__item__price {
            font-size: 1.3rem;
            font-weight: 400;
          }

          .cart__item__deleteBtn {
            font-size: 1rem;
            color: #0066cc;
            text-align: right;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .cart__summary {
      width: 60%;
      margin-left: auto;

      .cart__summary__subtotal {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;

        .cart__summary__label,
        .cart__summary__value {
          font-size: 1rem;
          font-weight: 400;
        }
      }

      .cart__summary__shipping {
        @extend .cart__summary__subtotal;

        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #d2d2d7;
      }

      .cart__summary__total {
        @extend .cart__summary__subtotal;

        margin-bottom: 20px;

        .cart__summary__label,
        .cart__summary__value {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }

      .cart__summary__checkoutBtn {
        display: block;
        width: 320px;
        padding: 12px 0;
        margin-left: auto;
        background: #0071e3;
        border-radius: 10px;
        font-size: 1.2rem;
        color: white;
        font-weight: 300;
        text-align: center;
      }
    }

    @media (max-width: 980px) {
      .cart__list > .cart__item {
        grid-template-columns: 110px 2fr 1fr;
        grid-gap: 20px;

        .cart__item__image {
          height: 180px;
        }
      }
    }

    @media (max-width: 780px) {
      .cart__list > .cart__item {
        grid-template-columns: 130px 1fr;
        grid-template-rows: 50px 1fr;
        grid-gap: 20px;

        grid-template-areas: "image name" "image innerbox";

        .cart__item__image {
          height: 200px;
          grid-area: image;
        }

        .cart__item__name {
          grid-area: name;
        }

        .cart__item__innerbox {
          display: block;
          grid-area: innerbox;

          .cart__item__quantity {
            margin-bottom: 30px;
          }

          .cart__item__innerbox2 {
            .cart__item__deleteBtn {
              text-align: left;
            }
          }
        }
      }

      .cart__summary {
        width: 80%;
        min-width: 220px;

        .cart__summary__checkoutBtn {
          width: 100%;
        }
      }
    }

    @media (max-width: 600px) {
      .cart__list > .cart__item {
        display: block;
        position: relative;

        .cart__item__image {
          height: 70vw;
          transform: translate3d(-50%, -25%, 0) rotate(90deg);
          position: absolute;
          left: 50%;
        }

        .cart__item__name {
          margin: 40vw 0 0;
        }

        .cart__item__innerbox {
          display: block;
          grid-area: innerbox;

          .cart__item__quantity {
            margin-bottom: 30px;
          }

          .cart__item__innerbox2 {
            .cart__item__deleteBtn {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
