#cart {
  width: 80vw;
  max-width: 980px;
  margin: 0 auto;
  color: black;

  &.empty {
    .empty {
      display: block;
    }
    .brief,
    .cart {
      display: none;
    }
  }

  .empty {
    display: none;
    min-height: calc(100vh - 47px);
    padding-top: calc(104px + 15vh);

    .empty__para {
      margin-bottom: 30px;
      font-size: 2.4rem;
      font-weight: 500;
      text-align: center;
    }

    .empty__shopBtn {
      display: block;
      width: 280px;
      padding: 5px 0;
      margin: 0 auto;
      background: #0071e3;
      border-radius: 10px;
      font-size: 1rem;
      color: white;
      font-weight: 300;
      text-align: center;
    }
  }

  .brief {
    padding: calc(104px + 50px) 0 50px;

    .brief__price {
      margin-bottom: 10px;
      font-size: 2.4rem;
      font-weight: 500;
      text-align: center;
    }

    .brief__shipping {
      margin-bottom: 30px;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
    }

    .brief__checkoutBtn {
      display: block;
      width: 280px;
      padding: 5px 0;
      margin: 0 auto;
      background: #0071e3;
      border-radius: 10px;
      font-size: 1rem;
      color: white;
      font-weight: 300;
      text-align: center;
    }
  }

  .cart {
    margin-bottom: 100px;

    .cart__list {
      margin-bottom: 50px;

      .cart__item {
        padding: 30px 0;
        border-top: 1px solid #d2d2d7;
        display: grid;
        grid-template-columns: 150px 2fr 1fr;
        grid-gap: 50px;

        &:last-child {
          border-bottom: 1px solid #d2d2d7;
        }

        .cart__item__image {
          display: block;
          // width: 150px;
          height: 240px;

          // border: 1px solid red;
        }

        .cart__item__name {
          font-size: 1.3rem;
          font-weight: 400;

          // border: 1px solid red;
        }

        .cart__item__innerbox {
          display: flex;
          justify-content: space-between;

          // border: 1px solid red;

          .cart__item__quantity {
            width: 50px;
            height: 35px;
            border: none;
            font-size: 1.3rem;
            font-weight: 400;

            &:focus {
              outline-color: #0066cc98;
            }
          }

          .cart__item__price {
            font-size: 1.3rem;
            font-weight: 400;
          }

          .cart__item__deleteBtn {
            font-size: 1rem;
            color: #0066cc;
            text-align: right;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .cart__summary {
      width: 60%;
      margin-left: auto;

      .cart__summary__subtotal {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;

        .cart__summary__label,
        .cart__summary__value {
          font-size: 1rem;
          font-weight: 400;
        }
      }

      .cart__summary__shipping {
        @extend .cart__summary__subtotal;

        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #d2d2d7;
      }

      .cart__summary__total {
        @extend .cart__summary__subtotal;

        margin-bottom: 20px;

        .cart__summary__label,
        .cart__summary__value {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }

      .cart__summary__checkoutBtn {
        display: block;
        width: 320px;
        padding: 12px 0;
        margin-left: auto;
        background: #0071e3;
        border-radius: 10px;
        font-size: 1.2rem;
        color: white;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
