#active-scroll-section-0 .scroll-section-0 .fixed,
#active-scroll-section-1 .scroll-section-1 .fixed,
#active-scroll-section-2 .scroll-section-2 .fixed,
#active-scroll-section-3 .scroll-section-3 .fixed,
#active-scroll-section-4 .scroll-section-4 .fixed,
#active-scroll-section-5 .scroll-section-5 .fixed {
  display: block;
}

#active-scroll-section-0 {
  background: black;
  -webkit-transition: 1s;
  transition: 1s;
}

#active-scroll-section-1 {
  background: white;
  -webkit-transition: 1s;
  transition: 1s;
}

section {
  position: relative;
  border: 1px dashed black;
}

section .fixed {
  display: none;
  position: fixed;
}

main {
  /* intro-video */
  /* product-desc */
  /* product-feature */
  /* violinist */
  /* support */
  /* shop */
}

main .intro-video .intro-video__canvas {
  top: 50%;
  left: 50%;
  z-index: 1;
}

main .intro-video .intro-video__title {
  padding-top: 35vh;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

main .intro-video .intro-video__title h1 {
  font-size: 7rem;
  font-weight: 700;
}

main .intro-video .intro-video__title a {
  font-size: 1.6rem;
  font-weight: 600;
}

main .intro-video .intro-video__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 35vh;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

main .intro-video .intro-video__text > p {
  font-size: 3.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

main .product-desc {
  width: 80vw;
  max-width: 980px;
  margin: 0 auto;
}

main .product-desc .product-desc__title {
  padding-top: 100vh;
  font-size: 4.4rem;
  color: gray;
  font-weight: 700;
}

main .product-desc .product-desc__subTitle {
  margin-bottom: 50px;
  font-size: 4.4rem;
  color: black;
  font-weight: 700;
}

main .product-desc .product-desc__text {
  margin-bottom: 20px;
  font-size: 2rem;
  color: gray;
  font-weight: 400;
}

main .product-desc .product-desc__text strong {
  color: black;
  font-weight: 600;
}

main .product-desc .product-desc__link {
  font-size: 1.4rem;
  color: black;
  font-weight: 600;
}

main .product-feature {
  position: relative;
}

main .product-feature .product-feature__innerbox {
  height: 100vh;
  margin-top: 50vh;
  position: relative;
}

main .product-feature .product-feature__img {
  display: block;
  height: 80vh;
  position: absolute;
  top: 10vh;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  z-index: -1;
}

main .product-feature .product-feature__img.fixed {
  display: none;
  position: fixed;
}

main .product-feature .product-feature__title p {
  font-size: 4.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}

main .product-feature .product-feature__title small {
  display: block;
  font-size: 1.2rem;
  font-size: 200;
}

main .product-feature .product-feature__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  opacity: 0;
}

main .product-feature .product-feature__desc h3 {
  font-size: 1rem;
  font-weight: 600;
}

main .product-feature .product-feature__desc p {
  font-size: 0.8rem;
}

main .product-feature .product-feature__desc.--a {
  max-width: 400px;
  top: 50vh;
  text-align: right;
}

main .product-feature .product-feature__desc.--a .product-feature__descA__pin {
  height: 1px;
  background: black;
  position: absolute;
  right: calc(-50% + 10px);
  top: 10px;
}

main .product-feature .product-feature__desc.--b {
  width: 40%;
  max-width: 300px;
  top: 35vh;
}

main .product-feature .product-feature__desc.--b .product-feature__descB__pin {
  height: 1px;
  background: black;
  position: absolute;
  /* right: calc(100% + 10px); */
  left: calc(-30% - 10px);
  top: 10px;
}

main .violinist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50vh 0;
}

main .violinist .violinist__title {
  width: 80vw;
  max-width: 980px;
  margin: 0 auto;
}

main .violinist .violinist__title h2 {
  font-size: 4rem;
  color: #acacac;
  font-weight: 600;
}

main .violinist .violinist__title p {
  font-size: 4rem;
  font-weight: 600;
}

main .violinist .violinist__canvas.fixed {
  display: block;
}

main .violinist .violinist__violinist-info {
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-250%, -50%, 0);
          transform: translate3d(-250%, -50%, 0);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .violinist .violinist__violinist-info h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

main .violinist .violinist__violinist-info h3 {
  font-size: 1.1rem;
  font-weight: 300;
}

main .violinist .violinist__violinist-quote {
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

main .violinist .violinist__violinist-quote p {
  font-size: 3.8rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

main .violinist .violinist__violinist-quote span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

main .violinist .violinist__desc {
  width: 80vw;
  max-width: 980px;
  margin: -135px auto 0;
  font-size: 2rem;
}

main .support {
  padding-top: 50vh;
}

main .support .fixed {
  width: 100%;
}

main .support .support__title {
  font-size: 4rem;
  color: white;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 35vh;
  z-index: 2;
}

main .support .support__logo {
  width: 10000vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-10%, -50%, 0);
          transform: translate3d(-10%, -50%, 0);
  z-index: 1;
}

main .support .support__text {
  top: 40vh;
  opacity: 0;
}

main .support .support__text.--a {
  z-index: 3;
}

main .support .support__text.--b {
  z-index: 5;
}

main .support .support__text p {
  font-size: 3.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

main .support .support__path {
  left: 50%;
  top: 50%;
  min-width: 850px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

main .support .support__path path {
  fill: none;
  stroke: #0071e3;
  stroke-width: 62;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1401;
  stroke-dashoffset: 1401;
}

main .support .support__bowImage {
  width: auto !important;
  height: 120vh;
  left: auto;
  top: auto;
  right: -10%;
  bottom: -80%;
  width: 3.5vw;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
  z-index: 6;
}

main .support .support__caseImage {
  width: auto !important;
  height: 100vh;
  left: auto;
  top: -10vh;
  right: -10%;
  width: 3.5vw;
  z-index: 6;
}

main .support .support__case-logo {
  text-align: center;
  top: 100vh;
  z-index: 1;
}

main .support .support__case-logo p {
  margin-bottom: 25vh;
  font-size: 3rem;
  font-weight: 700;
}

main .support .support__case-logo h2 {
  font-size: 5rem;
  font-weight: 900;
}

main .shop {
  width: 80vw;
  max-width: 980px;
  min-height: 60vh;
  margin: 0 auto;
}

main .shop .shop__title {
  font-size: 3.8rem;
  font-weight: 600;
  text-align: center;
}

main .shop .shop__text {
  margin-bottom: 30px;
  font-size: 1rem;
  text-align: center;
}

main .shop .shop__shop-btn {
  display: block;
  width: 120px;
  padding: 5px 0;
  margin: 0 auto;
  background: #0071e3;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */